/* custom css */

/*
img {
    max-width: 100%;
}
.row {
    height: 250px;
    padding-top: 10px;
    border-bottom: 5px solid darkgrey;
    margin-bottom: 25px;
    box-shadow: 5px 5px 5px darkblue;
}
*/